package cn.zy.apps.tools.dev.service.template ;

import org.springframework.beans.factory.annotation.Autowired ;
import org.springframework.beans.factory.annotation.Qualifier ;
import org.springframework.stereotype.Component ;



@Component(IAop${buildJavaCommProperties.className}Service.name)
public class Aop${buildJavaCommProperties.className}Service implements IAop${buildJavaCommProperties.className}Service {

    @Autowired
    @Qualifier(I${buildJavaCommProperties.className}Service.name)
    private I${buildJavaCommProperties.className}Service i${buildJavaCommProperties.className}Service ;

     public ${buildJavaCommProperties.className}  saveUpdate(OptType  optType ,   ${buildJavaCommProperties.className}   opt${buildJavaCommProperties.className} )throws SystemOptServiceException{
	
	     return  i${buildJavaCommProperties.className}Service.saveUpdate(  optType ,    opt${buildJavaCommProperties.className} );
	 
	 }
            
       	  
     public SelectPage<${buildJavaCommProperties.className} > search(OptType  optType ,    
				           ${buildJavaCommProperties.className}SearchBean  searchBean,CommSearchBean  commSearchBean ,int... startLimit )throws SystemOptServiceException{
	
	 return  i${buildJavaCommProperties.className}Service.search(  optType ,    
				                                                          searchBean,  commSearchBean ,startLimit );
					
	}
	
	public List<${buildJavaCommProperties.className} > searchList(OptType  optType ,    
				           ${buildJavaCommProperties.className}SearchBean  searchBean,CommSearchBean  commSearchBean ,int... startLimit )throws SystemOptServiceException{
             
			 return  i${buildJavaCommProperties.className}Service.searchList(  optType ,    
				                                                          searchBean,  commSearchBean ,startLimit );
            
    }
            
    public  ${buildJavaCommProperties.className}    remove(OptType  optType ,  ${buildJavaCommProperties.className}   opt${buildJavaCommProperties.className})throws SystemOptServiceException{
			
			   return  i${buildJavaCommProperties.className}Service.remove(  optType ,   opt${buildJavaCommProperties.className});
			
	}
            
            
           public  ${buildJavaCommProperties.className} get(Integer id)throws SystemOptServiceException
		   {
		           return  i${buildJavaCommProperties.className}Service.get( id);
		   
		   }

}
