 package  ${buildJavaCommProperties.servicePackage}.imples;
 

  import org.springframework.beans.factory.annotation.Autowired ;
import org.springframework.beans.factory.annotation.Qualifier ;
import org.springframework.stereotype.Component ;
 import cn.zy.apps.tools.web.SelectPage ;
import ${buildJavaCommProperties.clssPackage}.${buildJavaCommProperties.className} ; 
import  ${buildJavaCommProperties.servicePackage}.I${buildJavaCommProperties.className}Service ;
import ${buildJavaCommProperties.servicePackage}.units.${buildJavaCommProperties.className}SearchBean ;

import ${buildJavaCommProperties.servicePackage}.units.${buildJavaCommProperties.className}SaveUpdateUnits ;

import ${buildJavaCommProperties.servicePackage}.units.${buildJavaCommProperties.className}SearchUnits ;
 

@Component(I${buildJavaCommProperties.className}Service.name)
public class ${buildJavaCommProperties.className}ServiceImple extends  ABCommonsService  implements I${buildJavaCommProperties.className}Service {

            //@Resource(name="${buildJavaCommProperties.className}SearchUnits")
			  @Autowired
            @Qualifier("${buildJavaCommProperties.className}SearchUnits")        
            private  ${buildJavaCommProperties.className}SearchUnits  i${buildJavaCommProperties.className}SearchUnits;
           
           //@Resource(name=" ${buildJavaCommProperties.className}SaveUpdateUnits")
		     @Autowired
            @Qualifier("${buildJavaCommProperties.className}SaveUpdateUnits")      
           private ${buildJavaCommProperties.className}SaveUpdateUnits  i${buildJavaCommProperties.className}SaveUpdateUnits;
			
		   
		      @Autowired
    @Qualifier("${buildJavaCommProperties.className}RemoveUnits")
    private ${buildJavaCommProperties.className}RemoveUnits i${buildJavaCommProperties.className}RemoveUnits ;
		   
			@Override
            public void saveUpdate(OptType  optType ,   ${buildJavaCommProperties.className}   opt${buildJavaCommProperties.className} )throws SystemOptServiceException{
        		 i${buildJavaCommProperties.className}SaveUpdateUnits.saveUpdate(optType, opt${buildJavaCommProperties.className});
        		}
            
       	   @Override
            public SelectPage<${buildJavaCommProperties.className} > search(OptType  optType ,    
				   ${buildJavaCommProperties.className}SearchBean  searchBean , CommSearchBean  commSearchBean ,int... startLimit)throws SystemOptServiceException{
				    return  i${buildJavaCommProperties.className}SearchUnits.search(optType, searchBean,
					commSearchBean ,startLimit );
            }
            
			@Override
            public  void   remove(OptType  optType ,   ${buildJavaCommProperties.className}   opt${buildJavaCommProperties.className})throws SystemOptServiceException{
			    i${buildJavaCommProperties.className}RemoveUnits.remove(optType, opt${buildJavaCommProperties.className});
			  }
            
            
}
