 package  ${buildJavaCommProperties.servicePackage};

 
 
 import cn.zy.apps.tools.web.SelectPage ;
import ${buildJavaCommProperties.clssPackage}.${buildJavaCommProperties.className} ; 
import ${buildJavaCommProperties.servicePackage}.units.${buildJavaCommProperties.className}SearchBean ;

public interface I${buildJavaCommProperties.className}Service  extends Inface${buildJavaCommProperties.className}Service { 
    
            public String name="I${buildJavaCommProperties.className}Service";
            
                
        
            
            
            

}
