package  ${buildJavaCommProperties.servicePackage}.units ;

import org.springframework.stereotype.Component ;

import ${buildJavaCommProperties.clssPackage}.${buildJavaCommProperties.className} ; 


@Component("${buildJavaCommProperties.className}RemoveUnits")
public class ${buildJavaCommProperties.className}RemoveUnits extends ABCommonsService {

    public ${buildJavaCommProperties.className}  remove(OptType optType, ${buildJavaCommProperties.className}  opt${buildJavaCommProperties.className} ) throws SystemOptServiceException {
        
         Integer id =opt${buildJavaCommProperties.className}.getId() ;
        ${buildJavaCommProperties.className}   remove${buildJavaCommProperties.className} =baseService.get(id, ${buildJavaCommProperties.className}.class);
        baseService.update(remove${buildJavaCommProperties.className});
        return  remove${buildJavaCommProperties.className} ;
    }

}
