package  ${buildJavaCommProperties.servicePackage}.units ;

import org.springframework.stereotype.Component ;


import ${buildJavaCommProperties.clssPackage}.${buildJavaCommProperties.className} ; 


@Component("${buildJavaCommProperties.className}SaveUpdateUnits")
public class ${buildJavaCommProperties.className}SaveUpdateUnits extends ABCommonsService {

    public ${buildJavaCommProperties.className} saveUpdate(OptType optType, ${buildJavaCommProperties.className} opt${buildJavaCommProperties.className}) throws SystemOptServiceException {

        switch (optType) {
        case save:
            return   save(opt${buildJavaCommProperties.className}) ;
            break ;
        case update:
            return update(opt${buildJavaCommProperties.className}) ;
            break ;

        default:
            throw new SystemOptServiceException("[操作类型错误]") ;
        }
    }

    public ${buildJavaCommProperties.className}  save(${buildJavaCommProperties.className} opt${buildJavaCommProperties.className}) throws SystemOptServiceException {

    }

    public ${buildJavaCommProperties.className}  update(${buildJavaCommProperties.className} opt${buildJavaCommProperties.className}) throws SystemOptServiceException {

    }

}
